/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.smaller {
    max-width: 7%;
}
#navcolor {
    background-color: #cce6ec;
}

#navbutton {
    background-color: #A1C5B7;
    color: white;
    font-weight: 600;
    border: none;
}

.bgColor {
    background: #D9EDF2;
}